.App {
  text-align: center;
}

.error {
  color: red;
}

.button {
  cursor: pointer;
  margin-left: 16px;
}

.linkButton {
  background: none!important;
  border: none;
  padding: 0!important;
  margin: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}